body{

    background-image: url("Media/bg.png");
    font-family:Arial, Helvetica, sans-serif;
    
    
    width: 800px;
    
    margin: auto;

}


header>h1 {

    font-weight: 100;
    text-shadow: 1px 1px 20px rgb(0, 0, 0);

}

h2 {

    transition: color 4s ease-in-out 0s; 
    color: green;


}

h3{

    background: green;

     


}

nav {

    position: sticky;
    top: 0;

}

#aktuell{

    color: black;

}

.Navi {

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;

    transition: color 0.5s ease-in-out 0.5s;

}

.Navi:hover {

    color: grey;


}

ul {

    position: relative;
    top: 50px;

    background: rgb(223, 253, 223);
    width: 350px;
     
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    
    
}


ol li, main p {

    padding-right: 20px;
    position: relative;
    left: 10px;

}


a {

    color: black;


}

.link {

    color: green;

}

#Kontakt {

    color: green;
    background: none;

}

p strong, li strong {

    color: green;

}

.toTop {

    float: none;
    transition: all 1s ease-in-out 0s;
    position: relative;
    top: 0;


}

.toTop:hover {


    top: -10px;

}

main img {

    display: block;
    transition: all 0.5s ease-in 0s;
    transform: scale(1);

}

main img:hover {

    transform: scale(1.1);

}

.rechts {

    float: right;
    display: block;
    
}



main>div {

    margin-bottom: 200px;

}

.flex-container {

    display: flex;
    background-color: green;
    align-items: center;
    flex-direction: column;

  }
  
  .flex-container > li, .flex-container > div    {

    background: #f1f1f1;
    margin: 5px;
    padding: 20px;
    font-size: auto;

  }


@media screen and (max-width: 1024px) { 
    



    main img {

        transition: none;

    }

    img:hover {

        transform: none;

    }

    h1 {

        color: green;

    }

    #gif {

        transform: scale(0.9);

    }


}

@media screen and (max-width: 800px) {
    
    body {

        width: auto;

    }

}

@media screen and (max-width: 600px) { 
    
    body {

        width: auto;

    }   

    main img {

        transition:none;

    }

    img:hover {

        transform: none;

    }

    h1 {

        color:red;

    }

    #gif {

        margin: auto;
        
        transform: scale(0.5);

    }

}


