body {

    background: rgb(161, 246, 253);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    width: 1000px;
    margin: auto;
    display: block;
    align-items: center;
    text-align: center;
    
}
main {
    background: burlywood;
    border: 2px solid white;
}

button {

    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 20px;
    border: rgb(255, 255, 255) 3px solid;
    color: rgb(29, 29, 29);
    background: rgb(161, 246, 253);

}

#choose {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body img {

    margin: 10px;
    width: 200px;
    height: 133px;
    
    
}

#choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    margin-top: 10px;
    
}

table {

    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(255, 255, 255);
    margin: 40px;

}

td {
    background-image: url(./Media/Questionmarks.jpg);
    border: 2px solid burlywood;
    
}


.visible {

    opacity: 1 !important;

}

.done {

    opacity: 1 !important;

}



#yourScore, 
#topScores {
    


    margin: 10px 200px 80px 200px;
    
}


