body{
    
    background-image: url("Media/bg.png");
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 800px;
}

.choices {

    margin-left: 20px;

}

#einrück {
    
    margin-left: 5px;
}

img {
    margin-left: 10px;
    margin-bottom: 10px;
}

cite {
    float: left;
    margin-left: 90px;
    margin-top: 175px;

}
